<div class="flex gap-10 p-5 mt-6 w-full">
  <div class="flex flex-col pt-3 pr-8 gap-4 mr-30 w-5/12">
    <h1 class="text-red-600 font-medium text-lg font-mono">01. about_me.exec()</h1>
    <div class="flex flex-col gap-4">
      <h2 class="text-3xl font-mono font-bold">Engineering User Experiences</h2>
      <div>
        <p class="text-red-200 text-sm mb-4">
          Recent Software Development graduate from ITLA, focused on building clean, accessible, and
          high-performance frontend applications. My approach to code mirrors the discipline I bring
          to everything else consistency over shortcuts, always.
        </p>

        <p class="text-red-200 text-sm mb-4">
          Specializing in the Angular ecosystem, I work with TypeScript, PrimeNG, and modern tooling
          to turn complex requirements into interfaces that are fast, functional, and built to
          scale.
        </p>

        <div class="border-l-2 border-[#22D3EE]/70 p-5 pt-3 w-10/12">
          <p class="text-[#22D3EE]/70">
            "Clean code is not just written; it's engineered with empathy for the next developer."
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-5">
    <div  class="about-photo">
      <img src="/assets/terminal-code.svg" alt="Angular code snippet">
    </div>

  </div>
</div>
