<div class="w-full h-[70vh] sm:h-screen text-left flex flex-col justify-center pl-3">
  <div class="flex flex-col gap-2 w-8/12 pl-3">
    <app-badge
      [label]="slogan()"
      color="#00FFFF"
      class="border-[#35fcff61]! bg-[#35fcff61]/10! w-58!"
    />
    <div class="mt-3 flex flex-col gap-2">
      <h1 class="text-2xl xs:text-4xl sm:text-[3.5rem] md:text-6xl font-bold w-100 sm:w-160 md:w-auto">JUAN DAVID CABRAL</h1>
      <p class="text-lg xs:text-2xl sm:text-[2rem] md:text-4xl w-80 xs:w-100 sm:w-160 md:w-auto text-cyan-200 font-bold font-mono">
        Frontend Developver · Angular & PrimeNG <span class="cursor">|</span>
      </p>
    </div>
    <p class="text-xs xs:text-sm text-red-200 mt-3 font-semibold w-80 xs:w-100 sm:w-120 md:w-7/12">
      Building clean, scalable interfaces with Angular and PrimeNG. Focused on performance,
      precision, and maintainable code. Open to new opportunities, collaborations, and challenges.
    </p>
  </div>

  <div class="flex mt-8 gap-4 xs:gap-8 pl-2 pr-2 xs:pr-0">
    <a (click)="$event.preventDefault(); nav.goTo('projects')" class="bg-[#22D3EE] border-2 border-cyan-500 hover:bg-cyan-300 w-45 rounded-xs p-3 text-center">
      <p class="uppercase  text-black font-bold" > view projects</p>
    </a>
    <a (click)="$event.preventDefault(); nav.goTo('contact')" class=" border-2 border-red-500 hover:bg-red-400/15 w-45  rounded-xs p-3 text-center">
      <p class="uppercase  text-red-500 font-bold" >get in touch</p>
    </a>
  </div>
  <div class="flex gap-2 mt-8">
    <a href="https://github.com/juanCabral-DJ" target="_blank" class="hover:text-cyan-400 p-1 ml-2   flex items-center justify-center text-red-200 text-center"> <i class="fa-brands fa-github "></i> </a>
    <a href="https://www.linkedin.com/in/juan-david-cabral-b740a1329/" target="_blank" class="hover:text-cyan-400 p-1 ml-2 text-red-200  flex items-center justify-center text-center"> <i class="fa-solid fa-link "></i></a>
    <a href="mailto:juandavidcabral71@gmail.com" target="_blank" class="hover:text-cyan-400 p-1 ml-2 text-red-200  flex items-center justify-center text-center"><i class="fa-regular fa-envelope"></i></a>
  </div>
</div>
