<section class="flex gap-4 border border-red-200/20 m-4 w-[95%]">
  <div
    class="border-r-[0.5px] bg-[#000000]/40 border-red-200/30 mr-2 flex flex-col gap-3 h-full p-5 w-6/12"
  >
    <div class="flex flex-col justify-center items-start text-center mb-4">
      <span class="text-[#ff4d4d] font-mono text-sm font-medium tracking-wide mb-1"
        >04. establish_connection()</span
      >
      <h2 class="text-2xl md:text-3xl font-bold text-white tracking-tight">Send a Message</h2>
    </div>
    <div class="flex flex-col gap-2">
      <form [formGroup]="FormContact" (ngSubmit)="onSubmit()" class="flex flex-col p-4">
        <fieldset class="grid grid-cols-2 gap-4">
          <div class="flex flex-col gap-1">
            <label for="name" class="text-red-200 font-bold text-sm">NAME</label>
            <input
              type="text"
              id="name"
              placeholder="Juan Cabral..."
              class="border-[0.5px] border-red-200/50 p-3 hover:border-cyan-400"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label for="email" class="text-red-200 font-bold text-sm">EMAIL</label>
            <input
              type="text"
              id="email"
              placeholder="Example@example.com"
              class="border-[0.5px] border-red-200/50 p-3 hover:border-cyan-400"
            />
          </div>
        </fieldset>
        <fieldset class="felx flex-col gap-3 mt-5">
          <div class="flex flex-col gap-1">
            <label for="message" class="text-red-200 font-bold text-sm">MESSAGE</label>
            <textarea name="message" id="message" class="border border-red-200/40 h-40 p-3 hover:border-cyan-400"></textarea>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="bg-gray-400/10 flex flex-col gap-3 w-6/12 h-full">

  </div>
</section>
