<nav
  class="flex items-center fixed top-0 w-full   z-40 justify-between p-[16px_32px]   border-b  border-red-300/50 font-mono"
>
  <span class="text-red-500 text-4xl font-bold">JUAN_DAVID_CABRAL</span>

  <div class="flex gap-7 items-center">
    <ul class="flex gap-7 list-none text-sm">
      @for (item of nav.items; track item.id) {
        <li>
          <a
            class="text-red-200"
            [href]="'#' + item.id"
            [class.active]="nav.id() === item.id"
             (click)="$event.preventDefault(); nav.goTo(item.id)"
          >
            {{ item.label }}
          </a>
        </li>
      }
    </ul>

    <a
      href="/resume.pdf"
      target="_blank"
      class="border-2 border-[#22D3EE] text-[#22D3EE] p-[6px_14px] rounded-sm text-sm hover:bg-[#22d3ee4b]"
      >RESUME.pdf</a
    >
  </div>
</nav>
